html {
  background-color: rgb(196, 238, 255);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.hide {
  display: none;
}

#quiz li {
  cursor: grab;
  margin: 20px;
}

#quiz li:hover {
  background-color: rgb(177, 243, 177);
  width: 15vh;
}

#timerDisplay {
  color: darkmagenta;
  font-weight: bolder;
}

#result li {
  margin: 20px;
}

button {
  background-color: rgb(231, 231, 174);
  border-radius: 20px;
  width: 20vh;
  height: 5vh;
  font-size: 3vh;
}

label {
  margin-right: 10px;
}
